.column
{
    margin-top: 150px;
    width: 211px;
    position: absolute;
    left: 50%;
}

.leftColumn
{ 
    margin-left: -420px;   
}

.rightColumn
{
    margin-left: 215px;   
}

.webLink, a.webLink:link
{
    color: White;
    text-decoration: none;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
}

.entryLink
{
    width: 145px;
    height: 95px;
    background-image: url('../Media/Images/AP_lobby_button.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: -13px;
    border: 1px solid transparent;
}

.cornerImageTop
{
    height: 21px;
    width: 211px;
}

.cornerImageBottom
{
    height: 26px;
    width: 211px;
}

.columnBody
{
    height: 500px;
    background-image: url('../Media/Images/Background/AP_lobby_menu_hg.png');
    background-repeat: repeat-y;
    background-position: center top;
    padding-left: 45px;
}

a.webLink:hover
{
    text-decoration: underline;
}
