*
{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: Calibri;
}

body 
{
    background-color: white;
    border: 1px solid green;
}

#mainDiv
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../Media/Images/Background/AP_lobby_hg.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

